<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <title>Вопросы</title>
    <link rel="stylesheet" href="css/ask.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header id="header">
    <div>
        <a href="/">InterLanguage</a>
    </div>
    </header>
    <nav id="menu">
        <a href="courses.html">курсы</a>
        <a href="#">вопросы</a>
        <a href="contacts.html">контакты</a>
        <a href="login.html">вход в кабинет</a>
    </nav>
    <main id="main_block">
        <p>Часто задаваемые вопросы</p>
        <div class="info_block" th:each="type : ${types}">
            <div class="desc">
                <span class="question" th:text="${type.question}"></span>
                <hr>
                <span class="respond" th:text="${type.answer}"></span>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="text_wrapper">
            <div class="head_text">
                <a href="/">InterLanguage</a>
            </div>
            <div class="hrefs">
                <a href="courses.html">курсы</a>
                <a href="#">вопросы</a>
                <a href="contacts.html">контакты</a>
                <a href="login.html">вход в кабинет</a>
            </div>
        </div>
        <div class="soc_net">
            <a href="http://vk.com/haniko135"><img src="img/vk.png"></a>
            <a href="http:/instagram.com"><img src="img/insta.png"></a>
        </div>
    </footer>
</body>
</html> 