<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопросы</title>
    <link rel="stylesheet" href="css/ask.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/contacts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header id="header">
    <div>
        <a href="/">InterLanguage</a>
    </div>
    </header>
    <nav id="menu">
        <a href="courses.html">курсы</a>
        <a href="asks.html">вопросы</a>
        <a href="#">контакты</a>
        <a href="#">вход в кабинет</a>
    </nav>
    <main id="main_block">
        <p>Контакты</p>
        <ul>
            <li><b>Контактный телефон:</b> +38 (066) 560-89-09</li>
            <li><a href="http://vk.com/haniko135"><b>Вконтакте:</b></a> http://vk.com/haniko135 </li>
            <li><a href="http:/instagram.com"><b>Instagram:</b></a> http:/instagram.com</li>
        </ul>
        <div class="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad05b7b5060de51631a865a427c666165561bc463cb570ca66f62a918382a4134&amp;width=800&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </main>
    <footer id="footer">
        <div class="text_wrapper">
            <div class="head_text">
                <a href="/l">InterLanguage</a>
            </div>
            <div class="hrefs">
                <a href="courses.html">курсы</a>
                <a href="asks.html">вопросы</a>
                <a href="#">контакты</a>
                <a href="#">вход в кабинет</a>
            </div>
        </div>
        <div class="soc_net">
            <a href="http://vk.com/haniko135"><img src="img/vk.png"></a>
            <a href="http:/instagram.com"><img src="img/insta.png"></a>
        </div>
    </footer>
</body>
</html> 