<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Тест</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/courses.css">
        <link rel="stylesheet" href="../css/color.css">
        <link rel="stylesheet" href="../css/desc.css">
        <script src="js/functions.js"></script>
        <!---Иконки для менюшки-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header id="header">
            <div>
                <a href="/">InterLanguage</a>
            </div>
        </header>

        <div id="menuBar">
            <div class="icon-bar">
                <a href="#" onclick="dropMenu()" id="menuIcon"><i class="fa fa-bars"></i></a>
            </div>
        </div>

        <nav id="menu">
            <a href="courses.html">курсы</a>
            <a href="asks.html">вопросы</a>
            <a href="contacts.html">контакты</a>
            <a href="login.html">вход в кабинет</a>
        </nav>
        <main id="main_block">
            <p class="test_begin_head" th:text="${lang.get().getTestName()}"></p>
            <div class="desc_test">
                Для прохождения теста иметь знания по языку не обязательно. Можно (и нужно) воспринимать тест с
                долей юмора :)
            </div> <!--поставить мем?-->
            <p class="attent">на тест даётся 40 минут</p>
            <a href="#">
                <div class="button-wrap">
                    <div class="buttons">
                        Начать
                    </div>
                </div> <!--кнопка-->
            </a>
        </main>
        <footer id="footer">
            <div class="text_wrapper">
                <div class="head_text">
                    <a href="/">InterLanguage</a>
                </div>
                <div class="hrefs">
                    <a href="courses.html">курсы</a>
                    <a href="asks.html">вопросы</a>
                    <a href="contacts.html">контакты</a>
                    <a href="login.html">вход в кабинет</a>
                </div>
            </div>
            <div class="soc_net">
                <a href="http://vk.com/haniko135"><img src="../img/vk.png"></a>
                <a href="http:/instagram.com"><img src="../img/insta.png"></a>
            </div>
        </footer>
    </body>
</html>