#header{
    background-color: #3E97D1;
}
#menuBar{
    background-color: #3E97D1;
}
#menu{
    background-color: #3E97D1;
}
#menu > a:hover,
#footer > .text_wrapper > .head_text:hover,
#footer > .text_wrapper > .hrefs:hover,
#footer > .soc_net > a:hover{
    background-color: #65b2e6;
}
#main_block{
    background-image: url('../img/обои1.jpg');
    background-repeat: repeat;
}
#footer{
    background-color: #3E97D1;
}
a{
    color: black
}
a:hover{
    color:#222222;
}
.info_block:hover{
    box-shadow: 5px 3px 5px rgb(151, 151, 151);
    background-color: rgb(151, 151, 151);
}
.desc{
    background-color: #0A67A3;
}
.button{
    background-color: rgba(123, 177, 231, 0.91);
    border: 2px solid black;
}
.button:hover{
    background-color: rgba(159, 208, 250, 0.91);
}