#main_block > h2{
    align-self: center;
    font-size: 55px;
    margin: 15px 0px 65px 0px;
}
#main_block > p{
    margin: 15px 70px 65px 70px;
    font-size: 26px;
}
#main_block > .pluses{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}
#main_block > ol{
    margin: 10px 70px 15px 70px;
    font-size: 26px;
}
#main_block > ol > li{
    margin: 15px 10px 25px 70px;
    font-size: 23px;
}
#main_block > .test_begin_head{
    align-self: center;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 20px;
}
#main_block > .desc_test{
    font-size: 33px;
    margin: 15px 70px 65px 70px;
}
#main_block > .attent{
    align-self: center;
    font-size: 35px;
    margin: 25px 0;
    font-weight: lighter;
}

.wrap{
    display: flex;
    align-items: center;
    margin: 35px 0 25px 0;
    justify-content: center;
    width: auto;
}
a{
    display: block;
}
.button-wrap{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 5px;
    width: 350px;
    height: 70px;
    border: 2px solid #3b3b3b;
    background-color: #0A67A3;
}
.button-wrap:hover{
    transform: scale(1.05);
    background-color: #1f8bd2;
    box-shadow: 10px 7px 10px rgb(151, 151, 151);
    border: none;
}
.buttons{
    width: 150px;
    height: auto;
    display: flex;
    align-self: center;
    padding: 15px;
    font-size: 38px;
    font-weight: normal;
    text-align: center;
}

.image_test{
    align-self: center;
    width: 35%;
    height: 35%;
    display: flex;
}
