<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Русский язык</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="../css/courses.css">
      <link rel="stylesheet" href="../css/desc.css">
      <link rel="stylesheet" href="../css/color.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header id="header">
      <div>
        <a href="/">InterLanguage</a>
      </div>
    </header>
    <nav id="menu">
      <a href="courses.html">курсы</a>
      <a href="asks.html">вопросы</a>
      <a href="contacts.html">контакты</a>
      <a href="login.html">вход в кабинет</a>
    </nav>
    <main id="main_block">
      <h2>Русский язык</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros urna, imperdiet in lorem quis, viverra luctus quam. Vestibulum sagittis arcu orci, at sagittis nisl interdum sit amet. Ut lacus purus, rhoncus nec eros nec, feugiat imperdiet lectus. Fusce sollicitudin ultrices laoreet. Proin cursus ultrices justo sed faucibus. Nunc varius ipsum vel erat semper porttitor. Praesent lobortis felis vitae venenatis sodales. Sed euismod orci at odio consequat porttitor. Nunc condimentum, diam id blandit tempor, turpis massa molestie quam, eget pharetra nisl ex et risus. Cras vehicula metus in ornare blandit. Duis posuere efficitur enim, a pulvinar lacus feugiat in. Maecenas vel lorem at metus tempor laoreet vel ac lectus. Vestibulum vulputate nunc ut justo malesuada porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        <br>
        Nullam eleifend diam ut ipsum venenatis, ut gravida elit accumsan. Vestibulum sit amet tellus dolor. Proin eget congue enim. Etiam non dapibus risus. Nullam tempus sapien vitae purus accumsan, a tempor urna porta. Phasellus laoreet tempus justo, porttitor pharetra lorem dignissim id. Pellentesque hendrerit, orci a faucibus tristique, dolor lectus porta mauris, vel sollicitudin tortor erat at purus. Aliquam nulla nisl, viverra id erat in, ullamcorper feugiat lacus.
        <br>
        Curabitur vitae tellus et elit mollis fringilla nec in est. Nunc euismod rhoncus posuere. Sed sit amet massa dignissim, semper nibh sit amet, efficitur dui. Vestibulum venenatis mollis ipsum, scelerisque vulputate mauris lobortis id. Nulla congue finibus libero et tincidunt. Vivamus in libero ac ante venenatis pretium. Mauris quis aliquet nunc. Sed justo enim, feugiat at orci vitae, placerat iaculis massa. Sed mattis ex magna, nec iaculis mi sagittis vel. Praesent vestibulum interdum leo, eu rutrum sapien suscipit et. Phasellus sodales facilisis turpis condimentum semper. Quisque mattis eu libero venenatis lacinia. Suspendisse venenatis fringilla nunc eget tincidunt.
      </p>
      <p class="pluses">Плюсы:</p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
      </ul>
    </main>
    <footer id="footer">
      <div class="text_wrapper">
        <div class="head_text">
          <a href="/">InterLanguage</a>
        </div>
        <div class="hrefs">
          <a href="courses.html">курсы</a>
          <a href="asks.html">вопросы</a>
          <a href="contacts.html">контакты</a>
          <a href="login.html">вход в кабинет</a>
        </div>
      </div>
      <div class="soc_net">
        <a href="http://vk.com/haniko135"><img src="../img/vk.png"></a>
        <a href="http:/instagram.com"><img src="../img/insta.png"></a>
      </div>
    </footer>
  </body>
</html>